<mat-toolbar color="accent"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="space-between center"
    style="height: 80px;"
  >
  <mat-toolbar-row>
  <button mat-icon-button routerLink="/{{org.id}}/view" matTooltip="Ver la Organización">
    <mat-icon class="mat-18">visibility</mat-icon>
</button>
    <span>Editando: {{org.name}}</span>
</mat-toolbar-row>
  </mat-toolbar>

  <toco-progress [loading]="loading"></toco-progress>
<mat-card>

    <mat-card-content>

        <form [formGroup]="orgFormGroup">

            <!-- Start Name -->
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Escriba el nombre de la Organización" [value]="org.name" disabled>
                <!-- formControlName="name" -->
            </mat-form-field>
            <!-- End Name -->

            <!-- Start Status -->
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Estatus</mat-label>
                <input matInput placeholder="Estatus de la Organización" [value]="org.status" disabled>
                <!-- formControlName="status" -->
            </mat-form-field>
            <!-- End Status -->

            <!-- Start Established -->
            <cuor-datepicker-year
                 [formControl]="orgFormGroup.controls['established']"
                 [label]="'Fundada en'"
                 [touchUi]="false">
            </cuor-datepicker-year>

            <!-- Start Identifiers -->
            <mat-card class="mb-2">
                <mat-card-content formArrayName="identifiers">
                    <p>
                        <mat-label>Identidicadores</mat-label>
                    </p>

                    <div class="w-100 my-outline" *ngFor="let identifier of identifiersControl.controls; let pos = index"
                        [formGroup]="identifiersControl.controls[pos]" fxLayout="row wrap"
                        fxLayoutAlign="space-between center">

                        <mat-form-field class="w-45">
                            <mat-select class="w-100" placeholder="Seleccione el tipo" [value]="identifier.value.idtype"
                                formControlName="idtype">
                                <mat-option *ngFor="let item of selectOptionsIdType" [value]="item.idtype">
                                    {{ item.value }}</mat-option>
                            </mat-select>
                        </mat-form-field>


                        <mat-form-field class="w-45">
                            <input matInput placeholder="Valor" [value]="identifier.value.value" formControlName="value">
                        </mat-form-field>

                        <button mat-icon-button matSuffix class="mat-18" (click)="deleteidentifiers(pos)"
                            matTooltip="Eliminar" matTooltipClass="tooltip-red">
                            <mat-icon>delete</mat-icon>
                        </button>

                    </div>

                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-stroked-button color="primary" (click)="addIdentifiers()">Adicionar</button>
                </mat-card-actions>
            </mat-card>
            <!-- End Identifiers -->

            <!-- Start Acronyms -->
            <mat-card class="mb-2">
                <mat-card-content formArrayName="acronyms">
                    <mat-label>Acrónimos</mat-label>
                    <mat-form-field appearance="outline" class="w-100"
                        *ngFor="let acronymo of org.acronyms; let pos = index">
                        <mat-label>Acrónimo {{pos + 1}}</mat-label>
                        <input matInput placeholder="Acrónimo de la Organización" [value]="acronymo"
                            [formControlName]="pos">
                        <button mat-icon-button matSuffix class="mat-18" (click)="deleteAcronyms(pos)"
                            matTooltip="Eliminar" matTooltipClass="tooltip-red">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-form-field>

                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-stroked-button color="primary" (click)="addAcronyms()">Adicionar</button>
                </mat-card-actions>
            </mat-card>
            <!-- End Acronyms -->

            <!-- Start aliases -->
            <mat-card class="mb-2">
                <mat-card-content formArrayName="aliases">
                    <mat-label>Alias</mat-label>
                    <mat-form-field appearance="outline" class="w-100"
                        *ngFor="let acronymo of org.aliases; let pos = index">
                        <mat-label>Alias {{pos + 1}}</mat-label>
                        <input matInput placeholder="Alias de la Organización" [value]="acronymo"
                            [formControlName]="pos">
                        <button mat-icon-button matSuffix class="mat-18" (click)="deleteAliases(pos)"
                            matTooltip="Eliminar" matTooltipClass="tooltip-red">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-form-field>

                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-stroked-button color="primary" (click)="addAliases()">Adicionar</button>
                </mat-card-actions>
            </mat-card>
            <!-- End aliases -->

            <!-- Start Type -->
            <mat-card class="mb-2">
                <mat-card-content formArrayName="types">
                    <mat-label>Tipos</mat-label>
                    <div fxLayout="row nowrap" *ngFor="let type of org.types; let pos = index">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Tipo {{pos + 1}}</mat-label>
                            <mat-select
                                #typeSelect
                                placeholder="Seleccione el tipo de Organización"
                                [value]="type"
                                [formControlName]="pos">
                                <mat-option *ngFor="let item of selectOptions" [value]="item.value">{{ item.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-icon-button matSuffix
                            class="mat-18"
                            (click)="deleteTypes(pos)"
                            matTooltip="Eliminar"
                            matTooltipClass="tooltip-red"
                            style="margin-left: -39px;top: 8px">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-stroked-button color="primary" (click)="addTypes()">Adicionar</button>
                </mat-card-actions>
            </mat-card>
            <!-- End Type -->

            <!-- Start Relationships -->
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Organizaciones Padres
                        </mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-action-list>
                        <ng-container *ngFor="let relation of relationshipsControl.controls; let pos = index">
                            <button mat-list-item *ngIf="orgRelationships.PARENT.value == relation.value.type"
                                (click)="deleteRelationship(pos)" matTooltip="Click para 'ELIMINAR'" matTooltipClass="tooltip-red">
                                {{ relation.value.label }}
                            </button>
                        </ng-container>
                    </mat-action-list>
                    <mat-action-row>
                        <button mat-stroked-button color="primary" (click)="addToRelationship(orgRelationships.PARENT.value)">Adicionar</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Organizaciones Hijas
                        </mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-action-list>
                        <ng-container *ngFor="let relation of relationshipsControl.controls; let pos = index">
                            <button mat-list-item *ngIf="orgRelationships.CHILD.value == relation.value.type"
                                (click)="deleteRelationship(pos)" matTooltip="Click para 'ELIMINAR'" matTooltipClass="tooltip-red">
                                {{ relation.value.label }}
                            </button>
                        </ng-container>
                    </mat-action-list>
                    <mat-action-row>
                        <button mat-stroked-button color="primary" (click)="addToRelationship(orgRelationships.CHILD.value)">Adicionar</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Organizaciones Relacionadas
                        </mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-action-list>
                        <ng-container *ngFor="let relation of relationshipsControl.controls; let pos = index">
                            <button mat-list-item *ngIf="orgRelationships.RELATED.value == relation.value.type"
                                (click)="deleteRelationship(pos)" matTooltip="Click para 'ELIMINAR'" matTooltipClass="tooltip-red">
                                {{ relation.value.label }}
                            </button>
                        </ng-container>
                    </mat-action-list>
                    <mat-action-row>
                        <button mat-stroked-button color="primary" (click)="addToRelationship(orgRelationships.RELATED.value)">Adicionar</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
            <!-- End Relationships -->

        </form>

    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-button (click)="update()">Guardar</button>

    </mat-card-actions>
</mat-card>
