<toco-progress [loading]="loading"></toco-progress>

<div
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="start center"
    style="height: 80px; padding: 0 16px;"
  >
    <button mat-icon-button routerLink="/{{org.id}}/view" matTooltip="Ver la Organización">
        <mat-icon class="mat-18">visibility</mat-icon>
    </button>
    <span class="mat-h2" style="margin: 0;">Editando: {{org.name}}</span>
  </div>

  <!-- <toco-progress [loading]="loading"></toco-progress> -->
<mat-card>

    <mat-card-content>

        <form [formGroup]="orgFormGroup">

            <!-- Start Name -->
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Escriba el nombre de la Organización" [value]="org.name" formControlName="name">
                <button mat-button matSuffix mat-icon-button aria-label="Editar nombre" (click)="editInputName()">
                    <mat-icon>mode_edit</mat-icon>
                  </button>
            </mat-form-field>
            <!-- End Name -->

            <!-- Start Status -->
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Estatus</mat-label>
                <input matInput placeholder="Estatus de la Organización" [value]="org.status" disabled>
                <!-- formControlName="status" -->
            </mat-form-field>
            <!-- End Status -->

            <!-- Start Established -->
            <cuor-datepicker-year
                 [formControl]="orgFormGroup.controls['established']"
                 [label]="'Fundada en'"
                 [touchUi]="false">
            </cuor-datepicker-year>

            <!-- Start Email -->
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Correo electrónico</mat-label>
                <input matInput type="email" placeholder="Correo electrónico de la Organización" [value]="org.email_address" formControlName="email_address">
                <mat-error *ngIf="orgFormGroup.hasError('email_address')">
                    Por favor entre un correo válido
                </mat-error>
            </mat-form-field>
            <!-- End Email -->

            <!-- Start Identifiers -->
            <mat-card class="mb-2">
                <mat-card-content formArrayName="identifiers">
                    <p>
                        <mat-label>Identidicadores</mat-label>
                    </p>

                    <div class="w-100 my-outline" *ngFor="let identifier of identifiersControl.controls; let pos = index"
                        [formGroup]="identifiersControl.controls[pos]" fxLayout="row wrap"
                        fxLayoutAlign="space-between center">

                        <mat-form-field class="w-45">
                            <mat-select class="w-100" placeholder="Seleccione el tipo" [value]="identifier.value.idtype"
                                formControlName="idtype">
                                <mat-option *ngFor="let item of selectOptionsIdType" [value]="item.idtype">
                                    {{ item.value }}</mat-option>
                            </mat-select>
                        </mat-form-field>


                        <mat-form-field class="w-45">
                            <input matInput placeholder="Valor" [value]="identifier.value.value" formControlName="value">
                        </mat-form-field>

                        <button mat-icon-button matSuffix class="mat-18" (click)="deleteidentifiers(pos)"
                            matTooltip="Eliminar" matTooltipClass="tooltip-red">
                            <mat-icon>delete</mat-icon>
                        </button>

                    </div>

                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-stroked-button color="primary" (click)="addIdentifiers()">Adicionar</button>
                </mat-card-actions>
            </mat-card>
            <!-- End Identifiers -->

            <!-- Start labels -->
            <mat-card class="mb-2">
                <mat-card-content formArrayName="labels">
                    <p>
                        <mat-label>Labels</mat-label>
                    </p>

                    <div class="w-100 my-outline" *ngFor="let label of labelsControl.controls; let pos = index"
                        [formGroup]="labelsControl.controls[pos]" fxLayout="row wrap"
                        fxLayoutAlign="space-between center">

                        <mat-form-field class="w-45">
                            <mat-select class="w-100" placeholder="Seleccione el iso639" [value]="label.value.iso639"
                                formControlName="iso639">
                                <mat-option *ngFor="let item of iso639" [value]="item.label">
                                    {{ item.value }}</mat-option>
                            </mat-select>
                        </mat-form-field>


                        <mat-form-field class="w-45">
                            <input matInput placeholder="Label" [value]="label.value.label" formControlName="label">
                        </mat-form-field>

                        <button mat-icon-button matSuffix class="mat-18" (click)="deleteLabels(pos)"
                            matTooltip="Eliminar" matTooltipClass="tooltip-red">
                            <mat-icon>delete</mat-icon>
                        </button>

                    </div>

                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-stroked-button color="primary" (click)="addLabels()">Adicionar</button>
                </mat-card-actions>
            </mat-card>
            <!-- End labels -->

            <!-- Start Acronyms -->
            <mat-card class="mb-2">
                <mat-card-content formArrayName="acronyms">
                    <mat-label>Acrónimos</mat-label>
                    <mat-form-field appearance="outline" class="w-100"
                        *ngFor="let acronymo of org.acronyms; let pos = index">
                        <mat-label>Acrónimo {{pos + 1}}</mat-label>
                        <input matInput placeholder="Acrónimo de la Organización" [value]="acronymo"
                            [formControlName]="pos">
                        <button mat-icon-button matSuffix class="mat-18" (click)="deleteAcronyms(pos)"
                            matTooltip="Eliminar" matTooltipClass="tooltip-red">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-form-field>

                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-stroked-button color="primary" (click)="addAcronyms()">Adicionar</button>
                </mat-card-actions>
            </mat-card>
            <!-- End Acronyms -->

            <!-- Start aliases -->
            <mat-card class="mb-2">
                <mat-card-content formArrayName="aliases">
                    <mat-label>Alias</mat-label>
                    <mat-form-field appearance="outline" class="w-100"
                        *ngFor="let acronymo of org.aliases; let pos = index">
                        <mat-label>Alias {{pos + 1}}</mat-label>
                        <input matInput placeholder="Alias de la Organización" [value]="acronymo"
                            [formControlName]="pos">
                        <button mat-icon-button matSuffix class="mat-18" (click)="deleteAliases(pos)"
                            matTooltip="Eliminar" matTooltipClass="tooltip-red">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-form-field>

                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-stroked-button color="primary" (click)="addAliases()">Adicionar</button>
                </mat-card-actions>
            </mat-card>
            <!-- End aliases -->

            <!-- Start Type -->
            <mat-card class="mb-2">
                <mat-card-content formArrayName="types">
                    <mat-label>Tipos</mat-label>
                    <div fxLayout="row nowrap" *ngFor="let type of org.types; let pos = index">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Tipo {{pos + 1}}</mat-label>
                            <mat-select
                                #typeSelect
                                placeholder="Seleccione el tipo de Organización"
                                [value]="type"
                                [formControlName]="pos">
                                <mat-option *ngFor="let item of selectOptions" [value]="item.value">{{ item.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-icon-button matSuffix
                            class="mat-18"
                            (click)="deleteTypes(pos)"
                            matTooltip="Eliminar"
                            matTooltipClass="tooltip-red"
                            style="margin-left: -39px;top: 8px">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-stroked-button color="primary" (click)="addTypes()">Adicionar</button>
                </mat-card-actions>
            </mat-card>
            <!-- End Type -->

            <!-- Start Relationships -->
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Organizaciones Padres
                        </mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-action-list>
                        <ng-container *ngFor="let relation of relationshipsControl.controls; let pos = index">
                            <button mat-list-item *ngIf="orgRelationships.PARENT.value == relation.value.type"
                                (click)="deleteRelationship(pos)" matTooltip="Click para 'ELIMINAR'" matTooltipClass="tooltip-red">
                                {{ relation.value.label }}
                            </button>
                        </ng-container>
                    </mat-action-list>
                    <mat-action-row>
                        <button mat-stroked-button color="primary" (click)="addToRelationship(orgRelationships.PARENT.value)">Adicionar</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Organizaciones Hijas
                        </mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-action-list>
                        <ng-container *ngFor="let relation of relationshipsControl.controls; let pos = index">
                            <button mat-list-item *ngIf="orgRelationships.CHILD.value == relation.value.type"
                                (click)="deleteRelationship(pos)" matTooltip="Click para 'ELIMINAR'" matTooltipClass="tooltip-red">
                                {{ relation.value.label }}
                            </button>
                        </ng-container>
                    </mat-action-list>
                    <mat-action-row>
                        <button mat-stroked-button color="primary" (click)="addToRelationship(orgRelationships.CHILD.value)">Adicionar</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Organizaciones Relacionadas
                        </mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-action-list>
                        <ng-container *ngFor="let relation of relationshipsControl.controls; let pos = index">
                            <button mat-list-item *ngIf="orgRelationships.RELATED.value == relation.value.type"
                                (click)="deleteRelationship(pos)" matTooltip="Click para 'ELIMINAR'" matTooltipClass="tooltip-red">
                                {{ relation.value.label }}
                            </button>
                        </ng-container>
                    </mat-action-list>
                    <mat-action-row>
                        <button mat-stroked-button color="primary" (click)="addToRelationship(orgRelationships.RELATED.value)">Adicionar</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
            <!-- End Relationships -->

            <!-- Start wikipedia_url -->
            <mat-form-field appearance="outline" class="w-100 mt-2 mb-2">
                <mat-label>URL de Wikipedia</mat-label>
                <input matInput type="url" placeholder="URL de wikipedia de la Organización" [value]="org.wikipedia_url" formControlName="wikipedia_url">
                <mat-error *ngIf="orgFormGroup.hasError('wikipedia_url')">
                    Por favor entre una url válida
                </mat-error>
            </mat-form-field>
            <!-- End wikipedia_url -->

            <!-- Start links -->
            <mat-card class="mb-2">
                <mat-card-content formArrayName="links">
                    <mat-label>Links</mat-label>
                    <mat-form-field appearance="outline" class="w-100"
                        *ngFor="let link of org.links; let pos = index">
                        <mat-label>Link {{pos + 1}}</mat-label>
                        <input matInput type="url" placeholder="Links de la Organización" [value]="link"
                            [formControlName]="pos">
                        <button mat-icon-button matSuffix class="mat-18" (click)="deletelinks(pos)"
                            matTooltip="Eliminar" matTooltipClass="tooltip-red">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-form-field>

                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-stroked-button color="primary" (click)="addlinks()">Adicionar</button>
                </mat-card-actions>
            </mat-card>
            <!-- End links -->

            <!-- Start address -->
            <mat-card class="mb-2">
                <mat-card-content formArrayName="addresses">
                    <mat-label>Direcciones</mat-label>
                    <mat-action-list>
                        <button mat-list-item *ngFor="let address of org.addresses; let pos = index" (click)="editaddress(pos)" matTooltip="Click para editar"> {{ address.city }} </button>
                        
                      </mat-action-list>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-stroked-button color="primary" (click)="addaddress()">Adicionar</button>
                </mat-card-actions>
            </mat-card>
            <!-- End address -->
        </form>

    </mat-card-content>
    <mat-card-actions align="start">
        <ng-container *ngIf="orgFormGroup.valid;else templateButtonUpdate">
            <button mat-raised-button color="primary" (click)="update()">Guardar</button>
        </ng-container>
        <ng-template #templateButtonUpdate>
            <button mat-raised-button color="primary" disabled>Guardar</button>
        </ng-template>

    </mat-card-actions>
</mat-card>
