<!-- <h1>{{ org.name }}</h1> -->
<mat-toolbar color="accent"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="space-between center"
    >

    <mat-toolbar-row>
        <!-- <button mat-icon-button (click)="onClick()">
            <mat-icon class="mat-18">arrow_back</mat-icon>
        </button> -->
        <span>Información de la Organización</span>
    </mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>
<toco-org-view [org]="org" fxLayout="row" fxLayoutAlign="center" style="margin-top: -8em;"></toco-org-view>