
<a mat-raised-button 
    (click)="goDisambiguate()"
    *ngIf="hitList && hitList.hits.length > 0 && thereIsSelecion()">
  Desambiguar seleccionados
</a>
<button mat-stroked-button color="primary" (click)="goDisambiguate()" 
*ngIf="hitList && hitList.hits.length > 0 && thereIsSelecion()">
  Editar
</button>
<table mat-table [dataSource]="this.hitList.hits" class="mat-elevation-z8" *ngIf="hitList && hitList.hits.length > 0; else templateNotInfo">

    <!-- Radio button column -->
    <ng-container matColumnDef="master">

        <th mat-header-cell *matHeaderCellDef>Principal</th>
        <td mat-cell *matCellDef="let row">
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
          [(ngModel)]="masterOrganization"
          (change)="masterChanges($event)">
        
            <mat-radio-button class="example-radio-button" [value]="row">
              </mat-radio-button>
            </mat-radio-group>
        </td>
      
      </ng-container>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="secundary">
      <th mat-header-cell *matHeaderCellDef>Análogas</th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
            #checkBox
            (change)="secundaryChanges($event, row, checkBox)"
            [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.metadata.name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="identifiers">
      <th mat-header-cell *matHeaderCellDef> Identificadores </th>
      <td mat-cell *matCellDef="let element"> 
          <li *ngFor="let identifier of element.metadata.identifiers; let i = index" class="li-margin-style">
              {{identifier.idtype}}: {{identifier.value}}
              <ng-container *ngIf="i < element.metadata.identifiers.length - 1"> | </ng-container>
          </li>  
      </td>
    </ng-container>
  
 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>

<ng-template #templateNotInfo>
  <mat-card>
    <mat-card-content>
      <h2>No hay resultados para su búsqueda...</h2>
    </mat-card-content>
  </mat-card>
</ng-template>
