<mat-toolbar color="accent"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="space-between center"
    style="height: 80px;"
  >

    <span>Importar ficheros de GRID y la ONEI</span>

  </mat-toolbar>

  <mat-card>
      <mat-card-header>
          <mat-card-title>Title</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <!-- Start GRID -->
        <mat-label>Fichero de GRID</mat-label>
        <input 
            type="file" 
            enctype="multipart/form-data" 
            accept=".json" 
            placeholder="Click para seleccionar un fichero" 
            (change)="handleFileInput($event.target.files, 'GRID')">

      </mat-card-content>
      <mat-card-actions align="start">
          <button mat-button (click)="import()">Action1</button>
      </mat-card-actions>
  </mat-card>