<div fxLayout="column" fxLayoutAlign="center center">
    <br>
    <br>
    <h1 class="mat-display-3" style="text-align: center;">Sistema de identificación de Organizaciones Cubanas</h1>
    <br>
    <br>
    <toco-search-query-input [query]="''" (queryChange)="queryChange($event)" style="width: 70%;"></toco-search-query-input>
    <p  style="text-align: start; width: 70%; margin: 0;">
        <a [routerLink]="['/search']" class="a-grey">
            Incluir Organizaciones Internacionales
        </a>
    </p>
    <br>
    <br>
    <mat-card class="w-80 mb-2">
        <mat-card-content>
            <div markdown [src]="abstract" style="margin: 2em;"></div>
        </mat-card-content>                  
        <mat-card-actions>
            <button mat-button (click)="goAbout()" >Conocer más del proyecto</button>
        </mat-card-actions>
    
    </mat-card>
    <!-- <mat-chip-list>
        <mat-chip [routerLink]="['/search']">
            {{organizationsTotal}} Organizaciones
        </mat-chip>
        <mat-chip [routerLink]="['/search']" [queryParams]="{country: 'Cuba'}">
            {{cubanOrganizationTotal}} Organizaciones Cubanas
        </mat-chip>
    </mat-chip-list> -->

    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <app-polar-chart *ngIf="loadCharts"
            [dataChild]="homeCharts.total"
            [_yAxisLabel]="'Total de Organizaciones'">
        </app-polar-chart>

        <app-polar-chart *ngIf="loadCharts"
            [dataChild]="homeCharts.type"
            [_yAxisLabel]="'Tipo de Organizaciones'">
        </app-polar-chart>
    </div>

</div>
