<div fxLayout="column" fxLayoutAlign="center center">
    <br>
    <br>
    <h1 class="mat-display-3" style="text-align: center;">Sistema de identificación de Organizaciones Cubanas</h1>
    <br>
    <br>
    <toco-search-query-input [query]="''" (queryChange)="queryChange($event)" style="width: 70%;"></toco-search-query-input>
    <p  style="text-align: start; width: 70%; margin: 0;">
        <a [routerLink]="['/search']" class="a-grey">
            Incluir Organizaciones Internacionales
        </a>
    </p>
    <br>
    <br>
    <mat-card class="w-80 mb-2">
        <mat-card-content>
            <div markdown [src]="abstract" style="margin: 2em;"></div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="goAbout()" >Conocer más del proyecto</button>
        </mat-card-actions>

    </mat-card>
    <!-- <mat-chip-list>
        <mat-chip [routerLink]="['/search']">
            {{organizationsTotal}} Organizaciones
        </mat-chip>
        <mat-chip [routerLink]="['/search']" [queryParams]="{country: 'Cuba'}">
            {{cubanOrganizationTotal}} Organizaciones Cubanas
        </mat-chip>
    </mat-chip-list> -->

    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <app-polar-chart *ngIf="loadCharts"
            [dataChild]="homeCharts.total"
            [_yAxisLabel]="'Total de Organizaciones'">
        </app-polar-chart>

        <app-polar-chart *ngIf="loadCharts"
            [dataChild]="homeCharts.type"
            [_yAxisLabel]="'Tipo de Organizaciones'">
        </app-polar-chart>
    </div>
</div>

<app-card-item-info class="w-100" [title]="'¿De dónde salen los datos?'" [info]="harvesterInfo"></app-card-item-info>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10%" style="margin-top: 2em;">
    <ngx-charts-bar-vertical
        class="home-charts"
        *ngIf="loadCharts"
        [view]="barView"
        [scheme]="colorScheme"
        [results]="homeCharts.type"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [xAxisLabel]="''"
        [yAxisLabel]="''"
        style="margin-left: 2.5em;">
    </ngx-charts-bar-vertical>
</div>
<br>
<br>

<!-- <hr style="width: 96%; box-shadow: 2px 1px 14px #00000033;"> -->

<!-- <app-cards-slider></app-cards-slider> -->

<div class="prefooter">
    <div style="width: 32%; min-width: 22em;">
        <div class="info-card">
            <img src="assets/icons/sceiba.svg" alt="">
            <p class="mat-h3">Sceiba  busca mantener datos estandarizados, validados y por tanto confiables sobre los resultados de investigación en Cuba, de diferentes organizaciones de investigación, mayormente académicas.</p>
        </div>
        <div class="info-card">
            <img src="assets/images/tocororo.png" alt="">
            <p class="mat-h3">Proyecto Tocororo, un esfuerzo por la comunicación científica en Cuba.</p>
        </div>
    </div>
    <div style="width: 50%; margin-bottom: -70px; padding: 16px;" [ngStyle.xs]="{width: '100%'}">
        <p class="mat-h3">Este sistema solo incluye organizaciones registradas oficialmente según listado de la Oficina Nacional de Estadística e Información (ONEI).</p>
        <p class="mat-h3">Si crees que tu organización debe estar o ya está en el listado oficial pero no aparece en este sistema de identificación por favor envíanos un correo a la información de contacto.</p>
        <p class="mat-h3">Si piensas que estarás próximamente en el listado oficial de la ONEI pues entonces estarás próximamente en este sistema de identificación, una vez se actualicen como está programado nuestro listado desde la publicación oficial de la ONEI.</p>
    </div>
</div>
