<mat-toolbar color="primary" style="font-size: initial;" [ngStyle.xs]="{'padding-top':'20px'}">
    <mat-toolbar-row fxHide.xs="true"></mat-toolbar-row>
    <mat-toolbar-row fxLayoutAlign="center center" style="height: auto; white-space: normal;">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="70%" fxFlex.lt-sm="100%">
            <toco-search-query-input [buttonColor]="'accent'" [query]="''" (queryChange)="queryChange($event)" class="w-100"></toco-search-query-input>
            <p class="w-100" style="margin: 0;">
                <!-- <a [routerLink]="['/search']" class="a-grey mat-h4">
                    Incluir Organizaciones Internacionales
                </a> -->
            </p>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<img src="assets/icons/getwaves.io.top1.svg" alt="" style="margin-top: -4px; width: 100%;">


<div class="w-70" style="margin-top: -3em; margin-left: 4em;" [ngStyle.xs]="{width: '90%', 'margin-left': '1em', 'padding-top':'60px'}">
    <div markdown [src]="'/assets/markdown/home-about.md'" class="mat-h2 text-format"></div>
    <div fxLayout="row" fxLayoutAlign="start" class="w-100 pt-20">
        <button mat-raised-button color="primary" (click)="goAbout()">Conozca más de nosotros</button>            
    </div>
</div>


<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center end" class="w-100" *ngIf="homeCards.length>0">
   
    <app-card-svg *ngFor="let card of homeCards"
        [title]=card.title
        [text]=card.content
    ></app-card-svg>   
       
</div>

<br>
<br>
<div class="w-100 " fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="end center" fxLayoutGap="10%" fxLayoutGap.md="6%" fxLayoutGap.xs="16px">
    <p class="w-50 mat-h3" [ngStyle.xs]="{width: '70%'}" style="margin-left: 4em;">
        <label *ngIf="apiText">{{apiText}}</label>
        <a class="sceiba-a" [routerLink]="['/contact']">Contáctenos</a> para establecer las pautas necesarias para ello.
    </p>
    <div class="buble" [ngStyle.xs]="{width: '100%'}">
        <h1 class="mat-h1">Servicios de Interoperabilidad</h1>
        <img src="assets/icons/buble.svg" alt="" style="width: 18em;" [ngStyle.xs]="{width: '100%'}">
    </div>
</div>

<app-card-item-info class="w-100" *ngIf="harvesterInfo.length>0"
    [title]="'¿De dónde salen los datos?'" 
    [info]="harvesterInfo"
></app-card-item-info>

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10%" style="padding-top: 4em;">
    <ngx-charts-pie-chart 
        class="home-charts"
        *ngIf="loadCharts"
        [view]="view" 
        [scheme]="colorScheme" 
        [results]="homeCharts.total" 
        [gradient]="gradient"
        [legend]="showLegend" 
        [legendPosition]="legendPosition" 
        [labels]="showLabels" 
        [doughnut]="isDoughnut"
        style="margin-left: 2.5em;">
    </ngx-charts-pie-chart>

    <ngx-charts-bar-vertical
        class="home-charts"
        *ngIf="loadCharts"
        [view]="barView" 
        [scheme]="colorScheme" 
        [results]="homeCharts.type" 
        [gradient]="gradient"
        [legend]="showLegend" 
        [legendPosition]="legendPosition" 
        [xAxisLabel]="''"
        [yAxisLabel]="''"
        style="margin-left: 2.5em;">
    </ngx-charts-bar-vertical>
</div>
<br>
<br>

<!-- <hr style="width: 96%; box-shadow: 2px 1px 14px #00000033;"> -->

<!-- <app-cards-slider></app-cards-slider> -->

<div class="prefooter" [ngStyle.xs]="{'padding-bottom':'60px'}">
    <div style="width: 32%; min-width: 22em;">
        <div class="info-card">
            <img src="assets/icons/sceiba.svg" alt="">
            <p class="mat-h3">Sceiba: Portal de publicaciones científicas cubanas.</p>
        </div>
        <div class="info-card">
            <img src="assets/images/tocororo.png" alt="">
            <p class="mat-h3">Proyecto Tocororo: un esfuerzo por la comunicación científica en Cuba.</p>
        </div>
    </div>
    <div markdown [src]="'/assets/markdown/prefooter.notes.md'" class="mat-h2 text-format"
    style="width: 50%; margin-bottom: -70px; padding: 16px;" [ngStyle.xs]="{width: '100%'}"
    ></div>
   
</div>